.wrapper {
  border: 1px solid black;
  margin: 15px 0;
  padding: 15px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.details {
  min-width: 30%;
}

.authorsWrapper {
  display: inline;
}

.description {
  margin: 0;
}

