.courseCard {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 15px;
}

.courseAuthors {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.courseDetails {
  min-width: 300px;
}

.authorsWrapper {
  display: inline;
}

.courseTitle {
  margin-top: 0;
}

.buttonsHolder {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}
